<div class="container">

    <h2 class="page-heading">Most Popular Products</h2>

    <div class="resCarousel" data-items="2-3-4-5" data-slide="1" data-speed="900" data-interval="5000" data-animator="lazy">
        <div class="resCarousel-inner">

            <div class="item" *ngFor="let product of productsList">
                <div class="tile">
                    <!-- <img [src]="sanitizer.bypassSecurityTrustResourceUrl('data:image;base64,' + product.images[0].img.data)" alt="No Image!" class="img-thumbnail">-->

                    <div class="hovereffect">
                        <img [src]="getImageFromCMS(product.images[0])" alt="No Image!" class="img-thumbnail">
                        <div class="overlay">
                            <div>
                                <a class="info">Quick View</a>
                            </div>
                            <div>
                                <a class="info m-t-20px">Add to Cart</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <p class="card-text">{{product.category.categoryName}}</p>
                        <h4 class="card-title">
                            <a>{{product.productName}}</a>
                        </h4>
                        <div class="card-text">
                            <div>
                                <span><i class="fa fa-inr"></i> {{product.price}}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <button class='btn btn-default leftRs'><</button>
        <button class='btn btn-default rightRs'>></button>
    </div>
</div>
